@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../fonts/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.eot");
  src: url("../fonts/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.eot") format("embedded-opentype"), url("../fonts/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.woff") format("woff"), url("../fonts/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.ttf") format("truetype"), url("../fonts/pfdintextcondpro/pfdintextcondpro-regular/PFDinTextCondPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../fonts/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.eot");
  src: url("../fonts/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.eot") format("embedded-opentype"), url("../fonts/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.woff") format("woff"), url("../fonts/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.ttf") format("truetype"), url("../fonts/pfdintextcondpro/pfdintextcondpro-medium/PFDinTextCondPro-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.conteyner {
  padding: 50px;
  height: 100%;
}

.header {
  text-align: center;
}

.header__text {
  font-size: 50px;
  font-weight: 500;
  font-family: 'PT Sans';
  color: blue;
}

.menu li {
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin: 0px 20px 0px 0px;
}

.menu__linc {
  color: blue;
}

.sab-menu__list {
  display: none;
  min-width: 100%;
  position: absolute;
  border: 1px solid #000;
  left: 0;
  top: 10;
  padding: 10px 0px 0px 0px;
}

.sab-menu__list li {
  background-color: #fff;
}

.sab-menu__linc {
  color: green;
  display: inline-block;
  padding: 5px 10px;
}

.sab-sab-menu__list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0px 0px 0px 25px;
  border: 1px solid #000;
  min-width: 100%;
}

.sab-bab-menu__linc {
  display: inline-block;
  padding: 5px 10px;
}

.arrow {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

body.mouse .menu__list > li:hover .sab-menu__list {
  display: block;
}

body.mouse .sab-menu__list > li:hover .sab-sab-menu__list {
  display: block;
}
