@charset "UTF-8";

// Обнуляющий стиль
@import "_nool";

// Шрифты
@import "_fonts";
//===========================================

.conteyner {
   //background-color: black;
   //border: 1px solid #000;
   padding: 50px;
   //width: 1800px;
   height: 100%;
}
.header {
   text-align: center;

   &__text {
      font-size: 50px;
      font-weight: 500;
      font-family: 'PT Sans';
      color: blue;
   }
}
.menu li {
   position: relative;
}
.menu {

   &__list {
      display: flex;
      li {
         margin: 0px 20px 0px 0px;
      }
   }

   &__linc {
      color: blue;
   }
}
.sab-menu {

   &__list {
      display: none;
      min-width: 100%;
      position: absolute;
      border: 1px solid #000;
      left: 0;
      top: 10;
      padding: 10px 0px 0px 0px;
      li{
         background-color: #fff;
      }
   }

   &__linc {
      
      color: green;
      display: inline-block;
      padding: 5px 10px;
   }
}
.sab-sab-menu {

   &__list {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      padding: 0px 0px 0px 25px;
      border: 1px solid #000;
      min-width: 100%;
      
   }
}
.sab-bab-menu {

   &__linc {
      display: inline-block;
      padding: 5px 10px;
   }
}

.menu {

   &__arrow {
   }
}
.arrow {
   position: absolute;
   right: 0px;
   top: 5px;
   width: 0;
   height: 0;
   border-top: 10px solid red;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;

}
body.mouse .menu__list>li:hover .sab-menu__list {
	display: block;
}
body.mouse .sab-menu__list>li:hover .sab-sab-menu__list {
	display: block;
}
