@charset "UTF-8";

// Обнуляющий стиль
@import "_nool";

// Шрифты
@import "_fonts";
//===========================================

.wrapper {
   min-height: 100%;
}
.page {
   padding: 90px 0px 0px 0px;

		&__section {
         padding: 30px;
         max-width: 1200px;
         margin: 0 auto;


			&_1 {
            background-color: #794f45;
			}

			&_2 {
            background-color: #77608d;
			}

			&_3 {
            background-color: #7a956b;
			}
		}

		&__title {
		}

		&__text {
		}

		&__sub-title {
		}
}
