@charset "UTF-8";

// Обнуляющий стиль
@import "_nool";

// Шрифты
@import "_fonts";
//===========================================

.conteyner {
   //background-color: black;
   //border: 1px solid #000;
   padding: 50px;
   //width: 1800px;
   height: 100%;
}
.header {
   text-align: center;

   &__text {
      font-size: 50px;
      font-weight: 500;
      font-family: 'PT Sans';
      color: blue;
   }
}
.menu li {
   position: relative;
}


.menu {

   &__list {
      display: flex;
      justify-content: space-around;
      li {
         margin: 0px 30px 0px 0px;
      }
      
      
   }

   &__linc {
      color: blue;
   }
   .parent{
      margin: 0px 30px 0px 0px;
   }
}
.sab-menu {

   &__list {
      display: none;
      min-width: 100%;
      position: absolute;
      left: 0;
      top: 10;
      padding: 10px 0px 0px 0px;
      li{
         background-color: #fff;
      }
   }

   &__linc {
      
      color: green;
      display: inline-block;
      padding: 5px 10px;
   }
}
.sab-sab-menu {

   &__list {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      padding: 0px 0px 0px 25px;
      min-width: 100%;
      
   }
}
.sab-bab-menu {

   &__linc {
      display: inline-block;
      padding: 5px 10px;
   }
}

.menu {

   &__arrow {
      
   }
      
   
}
.arrow {
   display: none;
   position: absolute;
   right: 0px;
   top: 5px;
   width: 0;
   height: 0;
   border-top: 10px solid red;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
   
}
.sab-menu {

   &__arrow {
      border-left: 10px solid red;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
   }
}
.arrow {
}

.active {
      transform: rotate(-180deg); 
   }
body.mouse .menu__list>li:hover .sab-menu__list {
	display: block;
}
body.mouse .sab-menu__list>li:hover .sab-sab-menu__list {
	display: block;
}
body.touch .sab-menu__list.open{
	display: block;
}
body.touch .sab-sab-menu__list.open{
	display: block;
}
body.touch .arrow {
	display: block;
}
@media(max-width:768px){
.wrapper{
   padding: 15px;
}
.menu__list{
   display: block;
}
.menu__list{
   li{
   margin: 0px 0px 10px 0px;
   }
}
.sab-menu{
   &__list{
      position: relative;
      left: 0;
      top: 0;
   }
}
.sab-sab-menu{
   &__list{
      padding: 0px 5px;
      position: relative;
      left: 0;
      top: 0;
   }
}
.sab-menu {

   &__arrow {
      top: 15px;
      border-bottom: none;
      border-left: 10px solid transparent;   
      border-top: 10px solid red;
      border-right: 10px solid transparent;
   
   }
}
}
